/* Colors 
#F77E34 - Orange
#00B7B3 - Turquise
#F0F0F0 - Grey
#3E4650 - Dark Blue Grey
#5C6D7C - Light Blue Grey

*/

body {
   background-color: #FFF;
   font-family: 'Lato', sans-serif !important;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif !important;
}

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button Primary */
.btn-primary {
    background: #F77E34;
    border-radius: 5px;
    color: #fff;
    padding: 15px 60px;
    box-shadow: 0 6px #CF6121;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    transition: all 0.05s;
}

.btn-primary:hover {
    background:#F77E34;
    box-shadow: 0 4px #CF6121;
    top: 2px;
}

.btn-primary:active {
    background:#CF6121;
    box-shadow: 0 0 #E76C25;
    top: 6px;
}


/* Button Secondary */
.btn-secondary {
    background: #00B7B3;
    border-radius: 3px;
    color: #FFF;
    padding: 7px 30px;
    
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    transition: all 0.05s;
}

.btn-secondary:hover {
    background:#00B7B3;
    color:white;
}

.btn-secondary:active {
    background:#CF6121;
}

/*------------------------------------------------------*/

.navbar-inverse{
    background:#FFF;
}

.jumbotron {
    /*background:url("../img/banner.jpg") no-repeat center center;*/
    background:#00B7B3;
    color:#FFF;

}














